fastapi==0.95.0
pydantic==1.10.7
starlette==0.26.1
uvicorn==0.21.1
sqlalchemy==1.4.46
mangum==0.17.0
python-dotenv==0.21.1
requests==2.28.2
httpx==0.23.3
pymysql==1.1.0
python-multipart==0.0.6
aiohttp==3.7.4
aiomysql==0.1.1
psutil==5.9.5
werkzeug==2.0.1
flask==2.0.1
flask-cors==3.0.10
pyjwt==2.3.0